<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />


</div>
<div class="footer-padding"></div>

<div class="footer">
  <a href="https://www.twitter.com"><i class="fa-brands fa-twitter fa-lg f-icon"></i></a>
  <a href="https://www.facebook.com"><i class="fa-brands fa-facebook fa-lg f-icon"></i></a>
  <a href="https://www.instagram.com"><i class="fa-brands fa-instagram fa-lg f-icon"></i></a>
  <a href="https://google.com"><i class="fa-solid fa-envelope fa-lg f-icon"></i></a>
</div>

</body>

</html>